<section class="section-hero">
  <div class="container">
    <div class="row">
      <div class="col col-xs-10 col-xs-offset-1">
        <p>Learn Magic from the Pros</p>
        <h1>I'm an illusionist, Michael.</h1>
        <br />
        <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
</section>

<section class="section-features">
  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <h4>Feature 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis ultrices ante, et pharetra purus. Vivamus fermentum tincidunt ex. Fusce venenatis consectetur elit vitae fermentum.</p>
      </div>

      <div class="col col-sm-4">
        <h4>Feature 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis ultrices ante, et pharetra purus. Vivamus fermentum tincidunt ex. Fusce venenatis consectetur elit vitae fermentum.</p>
      </div>

      <div class="col col-sm-4">
        <h4>Feature 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis ultrices ante, et pharetra purus. Vivamus fermentum tincidunt ex. Fusce venenatis consectetur elit vitae fermentum.</p>
      </div>
    </div>
  </div>
</section>