<h1><%= @course.title %></h1>
<br>
<%= link_to 'Preview As Student...', course_path(@course), :class => 'btn btn-warning pull-right' %>
<br>
<div class="text-center clearfixk">
  <%= link_to 'Add a new section...', new_instructor_course_section_path(@course), :class => 'btn btn-primary btn-lg' %>
</div>

<ul>
  <% @course.sections.each do |section| %>
    <li>
      <%= section.title %>
    </li>
  <% end %>
</ul>