<div class="col-xs-10 col-xs-offset-1">
  <h1>Learn something today</h1>
  <hr />
  <% @courses.each do |course| %>
    <h2><%= link_to course.title, course_path(course) %></h2>
    <%= image_tag course.image, :class => 'img-responsive' %>
    <br>
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <%= course.description %>
      </div>
      <div class="col-sm-4 col-xs-12">
        <%= link_to 'Button', course_path(course), :class => 'btn btn-primary btn-large' %>
      </div>
    </div>
  <% end %>
</div>