.courses-index {
  .course {
    padding: 15px 0;
    
    &:nth-child(even) {
      background-color: #eee;

      .col {
        float: right;
      }
    }

    h3 {
      margin-top: 15px;
    }
  }
}