footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0px;

  a,
  a:hover {
    color: #fff;
  }

  .col {
    margin-bottom: 25px;
  }

  .social-links {
    li {
      float: left;
      margin-right: 10px;
    }
  }

  .links {
    margin-top: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  .social-button {
    height: 30px;
  }
}