.static_pages-index {
  main {
    padding-bottom: 0;
    padding-top: 0;
  }

  .section-hero {
    background-image: url('hero.jpg');
    background-size: cover;
    color: #fff;
    height: 490px;
    position: relative;
    width: 100%;

    &:before {
      background-image: linear-gradient(to right, rgba(0, 0, 0, .85), rgba(0, 0, 0, 0));
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    p {
      color: #fff;
    }

    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .col {
      h1, p {
        text-shadow: rgba(0,0,0,0.95) 1px 1px; 
      }
    }
  }

  .section-features {
    h4 {
      margin-bottom: 20px;
      text-align: center;
    }

    .col {
      padding: 40px 20px;
    }
  }
}